{{>userheader}}

<style>

    .container{
        padding: 35px;
    }
</style>
<div class="container" >
 <div class="password-container">
        <h3 style="color: chocolate;">Enter Password</h3>
        <form action="/resetpassword" method="post">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control password-input" id="password" name="password" placeholder="Enter password" required>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control password-input" id="confirm-password" name="confirmpassword" placeholder="Confirm password" required>
          </div>
          <button type="submit" class="btn btn-primary password-submit">Submit</button>
        </form>
      </div>
</div>


{{>userfooter}}